$Primary-Base: #f15d22;
$Primary-Opacity-1: #f15d2214;
$Primary-Opacity-2: #f15d2229;
$Primary-Opacity-3: #f15d223d;
$Primary-Opacity-4: #f15d2252;
$Primary-Opacity-5: #f15d2266;
$Primary-Opacity-6: #f15d227a;
$Primary-Opacity-7: #f15d228f;
$Primary-Opacity-8: #f15d22a3;
$Primary-Opacity-9: #f15d22b8;
$Primary-Opacity-10: #f15d22cc;

$On-Primary-Base: #fdfdff;
$On-Primary-Opacity-1: #fdfdff14;
$On-Primary-Opacity-2: #fdfdff29;
$On-Primary-Opacity-3: #fdfdff3d;
$On-Primary-Opacity-4: #fdfdff52;
$On-Primary-Opacity-5: #fdfdff66;
$On-Primary-Opacity-6: #fdfdff7a;
$On-Primary-Opacity-7: #fdfdff8f;
$On-Primary-Opacity-8: #fdfdffa3;
$On-Primary-Opacity-9: #fdfdffb8;
$On-Primary-Opacity-10: #fdfdffcc;

$Secondary-Base: #100604;
$Secondary-Opacity-1: #10060414;
$Secondary-Opacity-2: #10060429;
$Secondary-Opacity-3: #1006043d;
$Secondary-Opacity-4: #10060452;
$Secondary-Opacity-5: #10060466;
$Secondary-Opacity-6: #1006047a;
$Secondary-Opacity-7: #1006048f;
$Secondary-Opacity-8: #100604a3;
$Secondary-Opacity-9: #100604b8;
$Secondary-Opacity-10: #100604cc;

$On-Secondary-Base: #fdfdff;
$On-Secondary-Opacity-1: #fdfdff14;
$On-Secondary-Opacity-2: #fdfdff29;
$On-Secondary-Opacity-3: #fdfdff3d;
$On-Secondary-Opacity-4: #fdfdff52;
$On-Secondary-Opacity-5: #fdfdff66;
$On-Secondary-Opacity-6: #fdfdff7a;
$On-Secondary-Opacity-7: #fdfdff8f;
$On-Secondary-Opacity-8: #fdfdffa3;
$On-Secondary-Opacity-9: #fdfdffb8;
$On-Secondary-Opacity-10: #fdfdffcc;