$Surface-Base: #fdfdff;
$Surface-Opacity-1: #fdfdff14;
$Surface-Opacity-2: #fdfdff29;
$Surface-Opacity-3: #fdfdff3d;
$Surface-Opacity-4: #fdfdff52;
$Surface-Opacity-5: #fdfdff66;
$Surface-Opacity-6: #fdfdff7a;
$Surface-Opacity-7: #fdfdff8f;
$Surface-Opacity-8: #fdfdffa3;
$Surface-Opacity-9: #fdfdffb8;
$Surface-Opacity-10: #fdfdffcc;

$On-Surface-Base: #0a0716;
$On-Surface-Opacity-1: #0a071614;
$On-Surface-Opacity-2: #0a071629;
$On-Surface-Opacity-3: #0a07163d;
$On-Surface-Opacity-4: #0a071652;
$On-Surface-Opacity-5: #0a071666;
$On-Surface-Opacity-6: #0a07167a;
$On-Surface-Opacity-7: #0a07168f;
$On-Surface-Opacity-8: #0a0716a3;
$On-Surface-Opacity-9: #0a0716b8;
$On-Surface-Opacity-10: #0a0716cc;