$Error-Base: #fa4666;
$Error-Opacity-1: #fa466614;
$Error-Opacity-2: #fa466629;
$Error-Opacity-3: #fa46663d;
$Error-Opacity-4: #fa466652;
$Error-Opacity-5: #fa466666;
$Error-Opacity-6: #fa46667a;
$Error-Opacity-7: #fa46668f;
$Error-Opacity-8: #fa4666a3;
$Error-Opacity-9: #fa4666b8;
$Error-Opacity-10: #fa4666cc;

$On-Error-Base: #170506;
$On-Error-Opacity-1: #17050614;
$On-Error-Opacity-2: #17050629;
$On-Error-Opacity-3: #1705063d;
$On-Error-Opacity-4: #17050652;
$On-Error-Opacity-5: #17050666;
$On-Error-Opacity-6: #1705067a;
$On-Error-Opacity-7: #1705068f;
$On-Error-Opacity-8: #170506a3;
$On-Error-Opacity-9: #170506b8;
$On-Error-Opacity-10: #170506cc;

$Error-Container-Base: #ffa4a9;
$Error-Container-Opacity-1: #ffa4a914;
$Error-Container-Opacity-2: #ffa4a929;
$Error-Container-Opacity-3: #ffa4a93d;
$Error-Container-Opacity-4: #ffa4a952;
$Error-Container-Opacity-5: #ffa4a966;
$Error-Container-Opacity-6: #ffa4a97a;
$Error-Container-Opacity-7: #ffa4a98f;
$Error-Container-Opacity-8: #ffa4a9a3;
$Error-Container-Opacity-9: #ffa4a9b8;
$Error-Container-Opacity-10: #ffa4a9cc;

$On-Error-Container-Base: #140403;
$On-Error-Container-Opacity-1: #14040314;
$On-Error-Container-Opacity-2: #14040329;
$On-Error-Container-Opacity-3: #1404033d;
$On-Error-Container-Opacity-4: #14040352;
$On-Error-Container-Opacity-5: #14040366;
$On-Error-Container-Opacity-6: #1404037a;
$On-Error-Container-Opacity-7: #1404038f;
$On-Error-Container-Opacity-8: #140403a3;
$On-Error-Container-Opacity-9: #140403b8;
$On-Error-Container-Opacity-10: #140403cc;

$Info-Base: #22a6f1;
$Info-Opacity-1: #22a6f114;
$Info-Opacity-2: #22a6f129;
$Info-Opacity-3: #22a6f13d;
$Info-Opacity-4: #22a6f152;
$Info-Opacity-5: #22a6f166;
$Info-Opacity-6: #22a6f17a;
$Info-Opacity-7: #22a6f18f;
$Info-Opacity-8: #39b8ffa3;
$Info-Opacity-9: #22a6f1b8;
$Info-Opacity-10: #22a6f1cc;

$On-Info-Base: #02080c;
$On-Info-Opacity-1: #02080c14;
$On-Info-Opacity-2: #02080c29;
$On-Info-Opacity-3: #02080c3d;
$On-Info-Opacity-4: #02080c52;
$On-Info-Opacity-5: #02080c66;
$On-Info-Opacity-6: #02080c7a;
$On-Info-Opacity-7: #02080c8f;
$On-Info-Opacity-8: #02080ca3;
$On-Info-Opacity-9: #02080cb8;
$On-Info-Opacity-10: #02080ccc;

$Info-Container-Base: #98daff;
$Info-Container-Opacity-1: #add7ff14;
$Info-Container-Opacity-2: #add7ff29;
$Info-Container-Opacity-3: #add7ff3d;
$Info-Container-Opacity-4: #add7ff52;
$Info-Container-Opacity-5: #add7ff66;
$Info-Container-Opacity-6: #add7ff7a;
$Info-Container-Opacity-7: #add7ff8f;
$Info-Container-Opacity-8: #add7ffa3;
$Info-Container-Opacity-9: #add7ffb8;
$Info-Container-Opacity-10: #add7ffcc;

$On-Info-Container-Base: #030a11;
$On-Info-Container-Opacity-1: #030a1114;
$On-Info-Container-Opacity-2: #030a1129;
$On-Info-Container-Opacity-3: #0b27413d;
$On-Info-Container-Opacity-4: #030a1152;
$On-Info-Container-Opacity-5: #030a1166;
$On-Info-Container-Opacity-6: #030a117a;
$On-Info-Container-Opacity-7: #030a118f;
$On-Info-Container-Opacity-8: #030a11a3;
$On-Info-Container-Opacity-9: #030a11b8;
$On-Info-Container-Opacity-10: #030a11cc;

$Success-Base: #36d074;
$Success-Opacity-1: #36d07414;
$Success-Opacity-2: #36d07429;
$Success-Opacity-3: #36d0743d;
$Success-Opacity-4: #36d07452;
$Success-Opacity-5: #36d07466;
$Success-Opacity-6: #36d0747a;
$Success-Opacity-7: #36d0748f;
$Success-Opacity-8: #36d074a3;
$Success-Opacity-9: #36d074b8;
$Success-Opacity-10: #36d074cc;

$On-Success-Base: #04100d;
$On-Success-Opacity-1: #04100d14;
$On-Success-Opacity-2: #04100d29;
$On-Success-Opacity-3: #04100d3d;
$On-Success-Opacity-4: #04100d52;
$On-Success-Opacity-5: #04100d66;
$On-Success-Opacity-6: #04100d7a;
$On-Success-Opacity-7: #04100d8f;
$On-Success-Opacity-8: #04100da3;
$On-Success-Opacity-9: #04100db8;
$On-Success-Opacity-10: #04100dcc;

$Success-Container-Base: #93ffaa;
$Success-Container-Opacity-1: #93ffaa14;
$Success-Container-Opacity-2: #93ffaa29;
$Success-Container-Opacity-3: #93ffaa3d;
$Success-Container-Opacity-4: #93ffaa52;
$Success-Container-Opacity-5: #93ffaa66;
$Success-Container-Opacity-6: #93ffaa7a;
$Success-Container-Opacity-7: #93ffaa8f;
$Success-Container-Opacity-8: #93ffaaa3;
$Success-Container-Opacity-9: #93ffaab8;
$Success-Container-Opacity-10: #93ffaacc;

$On-Success-Container-Base: #0a110f;
$On-Success-Container-Opacity-1: #0a110f14;
$On-Success-Container-Opacity-2: #0a110f29;
$On-Success-Container-Opacity-3: #0a110f3d;
$On-Success-Container-Opacity-4: #0a110f52;
$On-Success-Container-Opacity-5: #0a110f66;
$On-Success-Container-Opacity-6: #0a110f7a;
$On-Success-Container-Opacity-7: #0a110f8f;
$On-Success-Container-Opacity-8: #0a110fa3;
$On-Success-Container-Opacity-9: #0a110fb8;
$On-Success-Container-Opacity-10: #0a110fcc;

$Warning-Base: #f3c41a;
$Warning-Opacity-1: #f3c41a14;
$Warning-Opacity-2: #f3c41a29;
$Warning-Opacity-3: #f3c41a3d;
$Warning-Opacity-4: #f3c41a52;
$Warning-Opacity-5: #f3c41a66;
$Warning-Opacity-6: #f3c41a7a;
$Warning-Opacity-7: #f3c41a8f;
$Warning-Opacity-8: #f3c41aa3;
$Warning-Opacity-9: #f3c41ab8;
$Warning-Opacity-10: #f3c41acc;

$On-Warning-Base: #201906;
$On-Warning-Opacity-1: #20190614;
$On-Warning-Opacity-2: #20190629;
$On-Warning-Opacity-3: #2019063d;
$On-Warning-Opacity-4: #20190652;
$On-Warning-Opacity-5: #20190666;
$On-Warning-Opacity-6: #2019067a;
$On-Warning-Opacity-7: #2019068f;
$On-Warning-Opacity-8: #201906a3;
$On-Warning-Opacity-9: #201906b8;
$On-Warning-Opacity-10: #201906cc;

$Warning-Container-Base: #ffe5a3;
$Warning-Container-Opacity-1: #ffe5a314;
$Warning-Container-Opacity-2: #ffe5a329;
$Warning-Container-Opacity-3: #ffe5a33d;
$Warning-Container-Opacity-4: #ffe5a352;
$Warning-Container-Opacity-5: #ffe5a366;
$Warning-Container-Opacity-6: #ffe5a37a;
$Warning-Container-Opacity-7: #ffe5a38f;
$Warning-Container-Opacity-8: #ffe5a3a3;
$Warning-Container-Opacity-9: #ffe5a3b8;
$Warning-Container-Opacity-10: #ffe5a3cc;

$On-Warning-Container-Base: #201906;
$On-Warning-Container-Opacity-1: #20190614;
$On-Warning-Container-Opacity-2: #20190629;
$On-Warning-Container-Opacity-3: #2019063d;
$On-Warning-Container-Opacity-4: #20190652;
$On-Warning-Container-Opacity-5: #20190666;
$On-Warning-Container-Opacity-6: #2019067a;
$On-Warning-Container-Opacity-7: #2019068f;
$On-Warning-Container-Opacity-8: #201906a3;
$On-Warning-Container-Opacity-9: #201906b8;
$On-Warning-Container-Opacity-10: #201906cc;